[Unit]
Description=Alertmanager
After=network.target

[Service]
Type=simple
User=prometheus
ExecStart=/usr/local/prometheus/alertmanager/alertmanager --config.file=/usr/local/prometheus/alertmanager/alertmanager.yml --storage.path=/var/lib/prometheus/alertmanager/data
Restart=on-failure

[Install]
WantedBy=multi-user.target
